# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.xcuserdatad
*.xcuserdata/
*.swp
*.lock
*.xcscmblueprint
*.xcworkspace
!default.xcworkspace

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Swift Package Manager
.swiftpm/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive

# Signing
*.mobileprovision
*.xcconfig
!default.xcconfig

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Other
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

# IDE Profiles
*.mode1v3
*.mode2v3
*.perspectivev3

# Asset Catalogs
*.xcassets

# Temporary Files
*.tmp
*.temp

# Logs
*.log

# Xcode Coverage
*.xccoverage


